// $gray:rgb(214, 212, 212);
// *{
//     margin:0px;
//     padding: 0px;
//     box-sizing: border-box;
// }
.side-content{
    height:100vh;
    width:104px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding-top:230px;
    padding-left:28.67px;
    padding-right: 48.67px;
    background-color: red;

    .icon-container{
        height:40px;
        width:40px;
        padding:5px;
        margin-bottom:51px;

        // &.table{
        // margin-bottom:51px;
        // }
    }
}

@media screen and (max-width:576px) {
    .side-content{
        width:100%;
        height:auto;
    }
       }