
<div class="side-content">
    <div class="icon-container table">
        <img src="../../assets/img/table_rows.svg" alt="">
    </div>
    <div class="icon-container table">
        <img src="../../assets/img/event_note.svg" alt="">
    </div>
    <div class="icon-container table">
        <img src="../../assets/img/bolt.svg" alt="">
    </div>
    <div class="icon-container table">
        <img src="../../assets/img/person.svg" alt="">
    </div>
    <div class="icon-container table">
        <img src="../../assets/img/notifications.svg" alt="">
    </div>
 </div> 
